// 元件：
// ------------------------------


.view
  padding .15rem
  transition transform .15s ease-in-out, opacity .15s ease-in-out

.fade-leave-active
.fade-enter-active
  opacity 0
  transform translate3d(10px, 0, 0)

*
  margin 0
  padding 0
  box-sizing border-box

html
body
#app
  width 100%
  height 100%

html
  font-size 100px

body
  background-color #f6f6f6
  color #272727
  font-size .14rem
  padding-top .45rem

.container
  background-color #fff
  padding .15rem
  margin 0 0 .15rem 0
header
  width 100%
  height .45rem
  line-height .45rem
  background-color #04a1ff
  color #fff
  position fixed
  left 0
  top 0
  text-align center
  h1
    font-size .18rem
    font-weight normal

ul
  list-style none
